{% extends 'base.html' %}


{% block content %}
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Getting Started With Python 101</h4>
            <small>Created On: <i class="fas fa-calendar-times    ">8/9/2020</i></small>
            <p class="card-text">Recommended Reading:</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</div>
{% endblock content %}