{% extends 'base.html' %}

{
{% block content %}

<div class="container">

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Blog Website</h4>
                <p class="card-text">Skills Used: Python, Django, HTML, Bootstrap, Heroku</p>
                <a href="https://github.com/TM-Elden/tmelden.design"> Github </a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Live Currency Converter</h4>
                <p class="card-text">Python project that uses real time conversion rates to check any currency</p>
                <a href=""> Github </a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Project 3</h4>
                <p class="card-text">A quick description of the project</p>
                <a href=""> Github </a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Project 4</h4>
                <p class="card-text">A quick description of the project</p>
                <a href=""> Github </a>
            </div>
        </div>
    </div>

</div>


{% endblock content %}